* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.navbar {
  background-color: #212529;
  color: white;
  padding: 25px 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart {
  background-color: white;
  color: #212529;
  padding: 5px;
  font: 30px;
  border-radius: 4px;
  position: relative;
}

.cartAmount {
  font-size: 16px;
  background-color: red;
  color: white;
  position: absolute;
  top: -15px;
  right: -10px;
  padding: 3px;
  border-radius: 3px;
}
